body {
    background-color: #03859b;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* border-color: white;
     border-style: solid;*/
}

.square
{
    width: 50%;
    float: left;
    /* border-color: red;
     border-style: solid;*/
}

.btn {
    width: 300px;
    height: 60px;
    background-color: #00203f;
    font-weight: bold;
    color: #f5f5f5;
}

.btn:hover {
    width: 300px;
    height: 60px;
    background-color: #EA4F45;
    font-weight: bold;
    color: #f5f5f5;
}
.tile-top
{
    width: 500px;
    height: 70px;
}
.tile-bottom
{
    width: 500px;
    height: 70px;
}