<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-color: #03859b;
            color: whitesmoke;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
        }
    </style>
</head>
<body>

<h1>Register Success</h1>

<table>
    <tr>
        <td th:text="${parcel.content}"></td>
        <td th:text="${parcel.weight}+ kg"></td>
        <td th:text="${parcel.width}+ cm"></td>
        <td th:text="${parcel.length}+ cm"></td>
        <td th:text="${parcel.height}+ cm"></td>
    </tr>
</table>


<h2>Your parcel has been registered</h2>
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-4">2020&copy Transport Automation App</div>
</footer>
</body>
</html>