<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>Title</title>

    <style>

        body {
            background-color: #03859b;
            color: whitesmoke;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
        }


        .btn {
            background-color: #fc7333;
            font-weight: bold;
            color: #f5f5f5;
            margin-bottom: 30px;
        }

        .btn:hover {
            background-color: #B2B356;
            font-weight: bold;
            color: #f5f5f5;
            margin-bottom: 30px;

        }

        .jumbotron text-center {

        }

        textarea {
            white-space: normal;
            text-align: justify;
            -moz-text-align-last: center; /* Firefox 12+ */
            text-align-last: center;
        }

        input {
            text-align: center;
        }

        input:focus::placeholder {
            color: transparent;
        }

        .wf {
            outline: 1px solid red;
        }



    </style>
</head>
<body>

<div class="col-12 text-right">

    <div class="card-img-top d-flex justify-content-end" style="margin-top: 20px; margin-right: 20px">
        <a href="/">
            <img src="../static/img/home.png" th:src="@{../img/home.png}" style="margin-right: 20px">
        </a>
        <a href="/logout">
            <img src="../static/img/logout.png" th:src="@{../img/logout.png}">
        </a>
    </div>


</div>

<div class="jumbotron text-center"
     style="background-color: #03859b; align-content: center; height: 100px; margin-top: -30px">
    <h1 class="display-4">Dane pasażera</h1>

</div>

<div class="container">


    <form class="form-horizontal" id="addForm" action="#" th:action="@{/add_passenger}" th:object="${passenger}"
          method="post">
        <div class="row justify-content-center text-center" style="margin-bottom: 40px">



        </div>

        <div class="row justify-content-center text-center">

            <div class="col">
                <div class="form-group">
                    <div class="col"><label style=" font-size: 30px">Personalia</label></div>
                    <!-- Default input -->

                    <div class="form-group col-md-12">
                        <h5 class="card-text"><small class="text-dark font-weight-bold">IMIĘ</small></h5>
                        <input type="text" class="form-control"
                               th:field="*{passengerName}" style="margin-bottom: 32px" required> <!--required-->
                    </div>
                    <div class="form-group col-md-12">
                        <h5 class="card-text"><small class="text-dark font-weight-bold">NAZWISKO</small></h5>
                        <input type="text" class="form-control"
                               th:field="*{passengerSurname}"  style="margin-bottom: 32px" required> <!--required-->
                    </div>
                    <div class="form-group col-md-12">
                        <h5 class="card-text"><small class="text-dark font-weight-bold">NUMER TELEFONU</small></h5>
                        <input type="text" class="form-control"
                               th:field="*{passengerPhoneNumber}" required> <!--required-->
                    </div>
                    <div class="form-group col-md-12 justify-content-center text-center" >
                        <h5 class="card-text "><small class="text-dark font-weight-bold">KOMENTARZ</small></h5>
                        <textarea th:field="*{additionalComments}"  class="form-control "
                                  id="additionalComments"
                                  rows="6" style="height: 145px"></textarea>
                    </div>
                </div>


            </div>
<!--            <div class="col" style="margin-top: 80px">-->
<!--                <div class="form-group col-md-12 justify-content-center text-center">-->

<!--                        <textarea th:field="*{content}" class="form-control" id="content"-->
<!--                                  rows="5" placeholder="zawartość"></textarea>-->
<!--                </div>-->

<!--                <div class="form-group col-md-12 justify-content-center text-center">-->

<!--                        <textarea th:field="*{additionalComments}" style="margin-top: 40px" class="form-control"-->
<!--                                  id="additionalComments"-->
<!--                                  rows="5" placeholder="komentarz"></textarea>-->
<!--                </div>-->
<!--            </div>-->



            <div class="col">

                <div class="col"><label style=" font-size: 30px">Adres odbioru</label></div>

                <div class="form-group col-md-12">
                    <h5 class="card-text"><small class="text-dark font-weight-bold">ULICA</small></h5>
                    <input type="text" class="form-control"
                           th:field="*{passengerStreet}" style="margin-bottom: 32px" required> <!--required-->
                </div>

                <div class="form-group col-md-12">
                    <h5 class="card-text"><small class="text-dark font-weight-bold">MIASTO</small></h5>
                    <input type="text" class="form-control"  th:field="*{passengerCity}" style="margin-bottom: 32px" required>
                    <!--required-->
                </div>
                <div class="form-group col-md-12">
                    <h5 class="card-text"><small class="text-dark font-weight-bold">KOD POCZTOWY</small></h5>
                    <input type="text" class="form-control" th:field="*{passengerZip}" style="margin-bottom: 32px" required>
                    <!--required-->
                </div>
                <div class="form-group col-md-12">
                    <h5 class="card-text"><small class="text-dark font-weight-bold">KRAJ</small></h5>
                    <input type="text" class="form-control"
                           th:field="*{passengerCountry}" style="margin-bottom: 32px" required> <!--required-->
                </div>
            </div>
            <div class="col">

                <div class="col"><label style=" font-size: 30px">Adres docelowy</label></div>
                <div class="form-group col-md-12">
                    <h5 class="card-text"><small class="text-dark font-weight-bold">ULICA</small></h5>
                    <input type="text" class="form-control"
                           th:field="*{destinationStreet}" style="margin-bottom: 32px" required> <!--required-->
                </div>

                <div class="form-group col-md-12">
                    <h5 class="card-text"><small class="text-dark font-weight-bold">MIASTO</small></h5>
                    <input type="text" class="form-control"  th:field="*{destinationCity}"style="margin-bottom: 32px" required>
                    <!--required-->
                </div>
                <div class="form-group col-md-12">
                    <h5 class="card-text"><small class="text-dark font-weight-bold">KOD POCZTOWY</small></h5>
                    <input type="text" class="form-control" th:field="*{destinationZip}" style="margin-bottom: 32px" required>
                    <!--required-->
                </div>
                <div class="form-group col-md-12">
                    <h5 class="card-text"><small class="text-dark font-weight-bold">KRAJ</small></h5>
                    <input type="text" class="form-control"
                           th:field="*{destinationCountry}" style="margin-bottom: 32px" required> <!--required-->
                </div>

                <div class="row" style="margin-top: 21px;">

                    <button type="submit" class="btn btn-primary" style="width: 703px; height: 60px; margin-left: -350px; display: inline-block; font-size: 30px;">Dalej
                    </button>
                </div>
            </div>
        </div>


    </form>

</div>
<footer class="page-footer font-small blue" style="bottom: 0; width: 100%">
    <div class="footer-copyright text-center py-4">2020&copy Transport Automation App</div>
</footer>
</body>
</html>