<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Warunki użytkowania</title>
    <style>
        body {
            background-color: #3c3f41;
            color: whitesmoke;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
        }
    </style>

</head>
<body data-new-gr-c-s-check-loaded="8.868.0" data-gr-ext-installed="" cz-shortcut-listen="true">
<div id="fb-root" class=" fb_reset">
    <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
        <div></div>
    </div>
</div>
<div id="outer">
    <div id="nav">
        <div class="roundedBorder-left"></div>
        <div class="roundedBorder-right"></div>
    </div>
    <div id="nav-opener"></div>

    <div id="main" class="wideContent"><!-- col2 -->
        <div id="col2"><!-- box -->
            <div class="box boxFirst">
                <div class="content"><h2>Warunki Użytkowania</h2>
                    <div class="legal">
                        <ol>
                            <li><strong>Wprowadzenie i akceptacja</strong>
                                <p>
                                    Przeczytaj uważnie niniejsze warunki użytkowania przed użyciem
                                    TransportTerminal.company (dalej „nas”, „my” lub
                                    „TransportTerminal.company”). Uzyskując dostęp i / lub korzystając z
                                    TransportTerminal.company
                                    (poza pierwszym przeczytaniem niniejszych warunków użytkowania)
                                    wyrażasz zgodę na przestrzeganie niniejszych warunków użytkowania, które mogą ulec
                                    zmianie
                                    do czasu, jak określono w sekcji 16 poniżej. jeśli się nie zgadzasz
                                    się z niniejszymi warunkami użytkowania, nie uzyskujesz dostępu ani nie korzystasz z
                                    TransportTerminal.company. </p>
                                <p>
                                    Zgadzasz się z tym że Warunki użytkowania są jasne i klarowne.
                                    Warunki dotyczą, bez ograniczeń, twoje użycie
                                    apliakcji TransportTerminal.com oraz materiały i informacje
                                    na niej. </p>
                                <p> Oprócz niniejszych Warunków użytkowania,
                                    Firma TransportTerminal.com ustanowiła Politykę prywatności, aby wyjaśnić, w jaki
                                    sposób
                                    informacje o użytkowniku są gromadzone i wykorzystywane przez firmę
                                    TransportTerminal.com. Kopia
                                    niniejszej Polityki prywatności można znaleźć w dole,
                                    i jest włączona przez odniesienie do niniejszych Warunków użytkowania. Uzyskując
                                    dostęp
                                    lub korzystając z którejkolwiek z naszych witryn internetowych, potwierdzasz swoją
                                    zgodę
                                    i zgodę na Politykę prywatności firmy TransportTerminal.com. </p></li>
                            <li><strong>Własność Intelektualna</strong>
                                <p>
                                    TransportTerminal.company i zawarte treści (i wszelkie prace pochodne lub
                                    rozszerzenia tego samego), w tym między innymi cały tekst,
                                    ilustracje, pliki, obrazy, oprogramowanie, skrypty, grafiki, zdjęcia,
                                    dźwięki, muzyka, filmy, informacje, treści, materiały, produkty,
                                    usługi, adresy URL, technologia, dokumentacja i funkcje interaktywne
                                    (łącznie „Treść Witryny”) oraz wszelka własność intelektualna
                                    prawa do tych samych należą do nas lub do naszych licencjodawców.
                                    Dodatkowo wszystkie znaki towarowe, znaki usługowe, nazwy handlowe i szata graficzna
                                    które mogą pojawiać się na naszych stronach internetowych są naszą własnością,
                                    naszych licencjodawców lub
                                    obie. Nie nabywasz żadnych praw, tytułów ani udziałów w naszych witrynach
                                    internetowych
                                    lub jakiejkolwiek Treści Witryny. Wszelkie prawa, które nie zostały wyraźnie
                                    przyznane w niniejszych Warunkach
                                    użytkowania są wyraźnie zastrzeżone. </p></li>
                            <li><strong>Dostęp i Użytkowanie TransportTerminal.company</strong>
                                <ol>
                                    <li><p>
                                        Podczas uzyskiwania dostępu do naszych witryn internetowych, w tym między innymi
                                        do
                                        Treść witryny, Zgadzasz się przestrzegać wszystkich obowiązujących lokalnych,
                                        stanowych, krajowych i zagranicznych praw,
                                        traktatów i przepisów związanych z korzystaniem, w tym między innymi prawo
                                        autorskie. Z wyjątkiem jako
                                        wyraźnie dozwolone w niniejszych Warunkach użytkowania, nie możesz używać,
                                        reprodukować,
                                        rozpowszechniać, tworzyć prace pochodne w oparciu o publiczne wyświetlanie,
                                        publicznie wykonywać, publikować, przesyłać lub w inny sposób wykorzystywać
                                        Witrynę
                                        Treści w jakimkolwiek celu bez uprzedniego uzyskania pisemnej
                                        zgody od nas lub, w przypadku treści osób trzecich, odpowiednio
                                        właścicieli. Potwierdzasz, że nie nabywasz żadnych praw własności przez
                                        pobieranie lub drukowanie Treści Witryny. </p></li>
                                    <li><p> Ponadto, z wyjątkiem przypadków wyraźnie dozwolonych w niniejszych Warunkach
                                        użytkowania, nie możesz:</p>
                                        <ol>
                                            <li><p>usunąć,
                                                zmieniać, zakrywać ani zniekształcać jakichkolwiek praw autorskich,
                                                znaków towarowych lub innych zastrzeżonych praw,
                                                informacji o prawach do firmy TransportTerminal.com lub Treści
                                                witryny;</p></li>
                                            <li><p>przechytrzyć,
                                                wyłączać lub w inny sposób ingerować w funkcje związane z
                                                bezpieczeństwem naszej
                                                Witryny internetowej, w tym między innymi wszelkie funkcje
                                                uniemożliwiające lub
                                                ograniczać używanie lub kopiowć jakichkolwiek treści lub egzekwować
                                                ograniczenia użytkowania
                                                naszych Witryn lub Treści Witryny; </p></li>
                                            <li><p>użyj automatycznego
                                                urządzenia (np. robot lub pająk) lub ręczny proces kopiowania lub
                                                „zdrapywania”
                                                nasze Witryny lub Treści Witryny w dowolnym celu bez wyraźnej zgody
                                                pisemnej firmy TransportTerminal.com. Niezależnie od
                                                powyzej, firma TransportTerminal.com udziela publicznych operatorom
                                                wyszukiwarek
                                                pozwolenie na używanie automatycznych urządzeń (takich jak roboty lub
                                                pająki) do kopiowania
                                                Treść witryny z naszych witryn internetowych wyłącznie w celu tworzenia
                                                (i
                                                tylko w zakresie niezbędnym do stworzenia) przeszukiwalnego indeksu
                                                Serwisu
                                                Treści dostępnych publicznie. Firma TransportTerminal.com zastrzega
                                                prawo do odwołania tego zezwolenia (ogólnie lub konkretnie) w dowolnym
                                                czasie; </p></li>
                                            <li><p>zbierać żadnych danych osobowych i
                                                informacji z naszych witryn internetowych, w tym między innymi nazwy
                                                użytkowników,
                                                hasła, adresy e-mail; </p></li>
                                            <li><p>zachęcić innych użytkowników do przyłączenia się
                                                lub zostać członkiem jakiejkolwiek komercyjnej usługi online lub innej
                                                organizacja bez naszej uprzedniej pisemnej zgody; </p></li>
                                            <li><p>podejmować prób lub zakłócać prawidłowe działanie naszych Witryn lub
                                                osłabiać, przeciążać lub wyłączać to samo;</p></li>
                                            <li><p>dekompilować, odtwarzać kod źródłowy ani dezasemblować jakiejkolwiek
                                                części
                                                którejkolwiek z naszych
                                                Strony internetowych;</p></li>
                                            <li><p>używać oprogramowania do monitorowania sieci w celu określenia
                                                architektury lub
                                                wyodrębniać dane użytkowania z dowolnej z naszych witryn
                                                internetowych;</p></li>
                                            <li><p>zachęcać
                                                zachowanie, które narusza jakiekolwiek prawo lokalne, cywilne lub
                                                przestępstwo lub podszywanie się pod innego użytkownika, osobę lub
                                                podmiot (np
                                                członkostwo innej osoby (zgodnie z definicją w sekcji B) bez
                                                pozwolenie itp.); </p></li>
                                            <li><p>naruszać polskie przepisy eksportowe, w tym
                                                bez ograniczeń, naruszenia Ustawy Eksportowej i
                                                Przepisy dotyczące eksportu administrowane przez Ministerstwo Handlu
                                                Zagranicznego; lub</p></li>
                                            <li><p>angażować się w jakiekolwiek działania, które ograniczają lub
                                                powstrzymują innych użytkowników przed
                                                korzystaniem z naszych witryn internetowych lub korzystanie z nich. </p>
                                            </li>
                                        </ol>
                                    </li>
                                    <li><p>Zgadzasz się na pełną współpracę z firmą TransportTerminal.com w celu
                                        zbadania wszelkich
                                        podejrzewanych lub faktycznych działań, które naruszają niniejsze Warunki
                                        użytkowania.</p></li>
                                </ol>
                            </li>
                            <li><strong>Rejestracja Użytkownika</strong>
                                <ol>
                                    <li><p>W celu
                                        aby uzyskać dostęp do niektórych funkcji firmy TransportTerminal.com lub z nich
                                        korzystać
                                        musisz zostać zarejestrowanym użytkownikiem. Jeśli masz mniej niż osiemnaście
                                        lat,
                                        wtedy nie możesz zarejestrować się jako użytkownik ani w inny sposób przesyłać
                                        danych osobowych do firmy TransportTerminal.com.</p></li>
                                    <li><p>Jeśli
                                        zostaniesz zarejestrowanym użytkownikiem, zapewnisz prawdziwość, dokładność i
                                        kompletność
                                        informacji rejestracyjnych, a jeśli takie informacje ulegną zmianie, to zrobisz
                                        niezwłoczną zaktualizacją odpowiednich informacji rejestracyjnych. W trakcie
                                        rejestracji, utworzysz nazwę użytkownika i hasło („Członkostwo”),
                                        które mogą umożliwiać dostęp do niektórych obszarów naszych witryn
                                        internetowych, ale nie być
                                        dostępne dla niezarejestrowanych użytkowników. Jesteś odpowiedzialny za ochronę
                                        i zachowanie poufności Twojego członkostwa. Jesteś jedyny
                                        odpowiedzialny za działania, które mają miejsce w ramach Twojego członkostwa,
                                        czy
                                        też nie zezwoliłeś na działanie. Zgadzasz się nas powiadomić
                                        natychmiast pod adresem <a
                                                href="https://www.transportterminal.company/kontakt/">
                                            https://www.transportterminal.company/kontakt/ </a>
                                        o jakimkolwiek naruszeniu bezpieczeństwa lub nieuprawnionym użyciu Twojego
                                        członkostwa. </p></li>
                                </ol>
                            </li>
                            <li><strong>Treść Uzytkownika</strong>
                                <ol>
                                    <li><p>Teraz lub w przyszłości możemy nie zezwolić użytkownikom na publikowanie,
                                        przesyłanie
                                        poprzez lub w inny sposób udostępninie w naszych Witrynach internetowych
                                        (łącznie,
                                        „wyślij”) wiadomości, szablony, tekst, ilustracje, pliki, obrazy,
                                        grafiki, zdjęcia, komentarze, dźwięki, muzyka, filmy, informacje, treść,
                                        i / lub inne materiały („Treści użytkownika”). Z zastrzeżeniem praw i
                                        Licencji udzielonej w niniejszym dokumencie zachowujesz wszelkie prawa, tytuły i
                                        udziały
                                        Treści użytkownika. Nie gwarantujemy żadnej poufności z szacunkiem
                                        do Treści użytkownika, nawet jeśli nie są one publikowane w naszych Witrynach.
                                        To jest
                                        wyłączną odpowiedzialność za monitorowanie i ochronę wszelkich intelektualnych
                                        praw własności, które możesz mieć do Treści użytkownika, a my
                                        nie ponosimy za to żadnej odpowiedzialności. </p></li>
                                    <li><p>Nie wolno Ci
                                        przesyłać treści użytkownika chronionych prawem autorskim, znakiem towarowym,
                                        patentem, handlem
                                        tajnym, moralne prawo lub inną własność intelektualną bez wyraźnej zgody
                                        właściciela odpowiednich
                                        dóbr. Ponosisz wyłączną odpowiedzialność za wszelkie szkody wynikające z Twojej
                                        awarii
                                        uzyskania takiego pozwolenia lub jakiejkolwiek innej szkody wyrządzonej przez
                                        Użytkownika
                                        Treści, które przesyłasz. </p></li>
                                    <li><p>Oświadczasz, gwarantujesz i zobowiązujesz się, że nie zamieścisz żadnych
                                        informacji („Treści użytkownika”),
                                        które:</p>
                                        <ol>
                                            <li><p>w jakikolwiek sposób narusza prawa innych osób, w tym, ale nie
                                                ograniczone do wszelkich praw autorskich, znaków towarowych, patentów,
                                                tajemnic handlowych, praw osobistych,
                                                lub inne prawa własności intelektualnej lub prawa własności
                                                jakiejkolwiek osoby lub
                                                jednostki;</p></li>
                                            <li><p>podszywają się pod inną osobę lub jest niezgodna z prawem, grożące,
                                                obraźliwe, zniesławiające, naruszające prawa do prywatności lub reklamy,
                                                wulgarne, obsceniczne, pornograficzne lub w inny sposób budzące
                                                zastrzeżenia;</p>
                                            </li>
                                            <li><p>zachęca do postępowania, które stanowiłoby przestępstwo,
                                                pociągające za sobą odpowiedzialność cywilną lub w inny sposób naruszają
                                                jakiekolwiek prawo;</p></li>
                                            <li><p>jest reklamą towarów lub usług lub zachętą do nagabywania </p></li>
                                            <li><p>zawiera
                                                dane osobowe, takie jak wiadomości identyfikujące numery telefonów,
                                                numery pesel, numery kont, adresy lub pracodawców; </p></li>
                                            <li><p>zawierają formułę, instrukcję lub poradę, która może spowodować
                                                szkody lub
                                                zranienie; lub </p></li>
                                            <li><p>jest łańcuszkiem dowolnego rodzaju. </p></li>
                                        </ol>
                                        <p>Ponadto,
                                            jakiekolwiek zachowanie użytkownika, które według naszego wyłącznego uznania
                                            ogranicza lub utrudnia by
                                            żaden inny użytkownik nie korzystał z naszych Witryn lub czerpał z nich
                                            przyjemność .</p></li>
                                    <li><p>Przesyłając nam Treści użytkownika,
                                        równocześnie z takim wysłaniem automatycznie udzielasz lub gwarantujesz
                                        że właściciel wyraźnie udzielił nam ogólnoświatowego, wolnego od tantiem,
                                        wieczystego, nieodwołalnego, niewyłącznego, w pełni podlegające
                                        sublicencjonowaniu i
                                        zbywalne prawa i licencji na użytkowanie, powielanie, rozpowszechnianie,
                                        tworzenie
                                        prac pochodnych opartych (w tym między innymi
                                        tłumaczenia), pokazywać publicznie, publicznie wykonywać, transmitować i
                                        publikować
                                        Treści użytkownika (w całości lub w części), ponieważ my, według naszego
                                        wyłącznego uznania,
                                        uznając za stosowne, w tym między innymi (1) w związku z
                                        naszą sprawa; i (2) w związku z naszą działalnością
                                        następcy, rodzice, spółki zależne i powiązane z nimi firmy. Możemy
                                        skorzystać z tej informacji w jakimkolwiek formacie, na jakimkolwiek nośniku lub
                                        technologii, która jest obecnie znana lub
                                        później opracowane dla pełnego okresu obowiązywania wszelkich praw autorskich,
                                        które mogą istnieć w
                                        takie Treści użytkownika. Ponadto przyznajesz również uprawnienia innym
                                        użytkownikom
                                        uzyskiwać dostęp do Treści użytkownika i wykorzystywać, powielać,
                                        rozpowszechniać, tworzyć
                                        utwory pochodne oparte na publicznie prezentowanych,
                                        przesyłać i publikować Treści użytkownika do osobistego, niekomercyjnego użytku
                                        zgodnie z funkcjonalnością którejkolwiek z naszych witryn internetowych i tych
                                        Warunków korzystania. </p></li>
                                    <li><p>Przesyłając Treści użytkownika, również udzielasz
                                        nam prawo, ale nie obowiązek, do wykorzystania Twojej biografii
                                        informacje, w tym między innymi imię i nazwisko oraz dane geograficzne
                                        lokalizacja w związku z nadawaniem, drukowaniem, online lub innym wykorzystaniem
                                        lub
                                        publikacją Treści użytkownika. Niezależnie od powyższego, ty
                                        zrzekasz się wszelkich roszczeń, jakie możesz mieć teraz lub później w dowolnej
                                        jurysdykcji
                                        do tak zwanych „praw osobistych” lub „praw moralnych” w odniesieniu do
                                        Treści użytkownika.</p></li>
                                    <li><p>Zastrzegamy sobie prawo do wyświetlania
                                        reklamy w związku z Twoimi Treściami Użytkownika i korzystaniem z Użytkownika
                                        Treści do celów reklamowych i promocyjnych. Uznajesz i
                                        zgadzasz się, że Twoje Treści użytkownika mogą być zawarte w witrynach
                                        internetowych i
                                        sieci reklamowe naszych partnerów dystrybucyjnych i stron trzecich
                                        usługodawcy (w tym ich dalsi użytkownicy).</p></li>
                                    <li><p>My
                                        mamy prawo, ale nie obowiązek, do monitorowania Treści Użytkownika. Mamy
                                        prawo według własnego uznania i z jakiegokolwiek powodu do edycji,
                                        odmowy opublikowania, usunięcia lub zablokowania dostępu do jakichkolwiek Treści
                                        użytkownika. </p></li>
                                </ol>
                            </li>
                            <li><strong>Zawartość strony&amp; Linki stron trzecich</strong>
                                <ol>
                                    <li><p>W wielu
                                        przypadkach, Treść Witryny będzie zawierała treści opublikowane przez stronę
                                        trzecią
                                        lub będzie reprezentować opinie i osądy strony trzeciej.
                                        TransportTerminal.company nie
                                        aprobuje, gwarantuje i nie ponosi odpowiedzialności za dokładność, terminowość,
                                        kompletność lub wiarygodność wszelkich przedstawionych opinii, porad lub
                                        oświadczeń
                                        na naszych stronach internetowych przez kogokolwiek innego niż upoważnieni
                                        pracownicy lub
                                        rzecznicy podczas pełnienia swoich oficjalnych funkcji. </p></li>
                                    <li><p>Gdy
                                        zaistnieje spór między osobami uzyskującymi dostęp do naszych witryn
                                        internetowych lub między
                                        osobami uzyskującymi dostęp do naszych Witryn i wszelkie osoby trzecie,
                                        rozumiesz i
                                        zgadzasz się, że nie mamy obowiązku angażować się. Jeśli taki spór zaistnieje,
                                        niniejszym zwalniasz firmę TransportTerminal.com i jej
                                        kadra kierownicza, dyrektorzy, pracownicy, rodzice, partnerzy, następcy, agenci,
                                        jednostki stowarzyszone, spółki zależne i powiązane z nimi spółki z roszczeń,
                                        żądań i wszelkiego rodzaju szkód z nich wynikających
                                        z takiego sporu lub w jakikolwiek sposób z nim związany. </p></li>
                                    <li><p>Nasze
                                        Strony internetowe mogą zawierać linki do innych stron internetowych
                                        utrzymywanych przez osoby trzecie.
                                        Nie działamy ani nie kontrolujemy pod żadnym względem ani niekoniecznie
                                        popieramy treści znalezione w tych witrynach internetowych osób trzecich.
                                        Zakładasz że ponosisz
                                        odpowiedzialność za korzystanie z linków stron trzecich. Nie jesteśmy
                                        odpowiedzialni za jakiekolwiek treści publikowane na stronach internetowych osób
                                        trzecich, i nie odpowiadamy
                                        za jakiekolwiek straty lub szkody poniesione w wyniku twoich
                                        relacji z osobami trzecimi lub ich witrynami internetowymi. </p></li>
                                </ol>
                            </li>
                            <li><strong>Opłaty</strong>
                                <ol>
                                    <li><p>Aplikacja dla użytkowników któży używają ją w celu znalezienia transportu aby
                                        paczki
                                        jest darmowa.</p></li>
                                    <li><p>
                                        Aplikacja dla użytkowników któży używają ją w celu zarejestrowania swojego
                                        transportu, w które pozwoli innym użytkownikom korzystać z
                                        ich usług transportowych, zobowiązani są do opłacenia po wykonaniu transportu
                                        kwoty
                                        stanowiącej 5% łącznej opłaty którą uzyskają za transport
                                        paczek w zarejestrowanym na stronie/aplikacji TransportTerminal.company.
                                        transporcie.
                                        Płatność należy uregulować w terminie do 30 dni kalendarzowych od daty
                                        zakończenia
                                        transportu.
                                        Brak dokonania płatności w terminie do 30 dni kalendarzowych od daty zakończenia
                                        transportu będzie skutkowało zawieszeniem konta do odwołania.
                                        zastrzegamy sobie prawo do powiadamiania o sposobie płatności drogą
                                        elektroniczną,
                                        za pośrednictwem telefonu, osobiście.</p></li>
                                </ol>
                            </li>
                            <li><strong>Odszkodowanie</strong>
                                <p>
                                    Zgadzasz się zwolnić firmię TransportTerminal.com i jej firmy, w tym
                                    kadra kierownicza, dyrektorzy, pracownicy, rodzice, partnerzy, następcy, agenci,
                                    partnerzy dystrybucyjni, podmioty stowarzyszone, spółki zależne i powiązane
                                    firmy od wszelkich roszczeń, zobowiązań, strat,
                                    odszkodowania, zobowiązania, kosztów i wydatków (w tym rozsądne
                                    honoraria i koszty obsługi prawnej) wynikające z, związane lub mogące powstać
                                    w związku z: (i) Twoim dostępem do naszych witryn internetowych lub korzystaniem z
                                    nich;
                                    (ii) Treści użytkownika dostarczone przez Ciebie lub w ramach członkostwa;
                                    (iii) jakiekolwiek rzeczywiste lub domniemane naruszenie lub naruszenie przez
                                    użytkownika niniejszych Warunków
                                    Użytkowania ; (iv) jakiekolwiek rzeczywiste lub domniemane naruszenie jakichkolwiek
                                    oświadczeń, gwarancji,
                                    lub przymierze, które zawarłeś z nami; lub (v) Twoje działania lub zaniechania.
                                    Zgadzasz się na pełną współpracę z nami w obronie wszelkich roszczeń
                                    przedmiotów Twoich zobowiązań wynikających z niniejszej Umowy.</p></li>
                            <li><strong>Zastrzeżenia</strong>
                                <p>
                                    WYRAŹNIE ZGADZASZ SIĘ, ŻE KORZYSTASZ Z NASZYCH STRON INTERNETOWYCH NA WŁASNE RYZYKO.
                                    NASZE
                                    STRONY INTERNETOWE I ZAWARTOŚĆ WITRYNY SĄ DOSTARCZANE W STANIE „TAK JAK SĄ” ORAZ
                                    „JAKO
                                    DOSTĘPNA „PODSTAWA BEZ JAKIEJKOLWIEK GWARANCJI, WYRAŹNEJ ANI
                                    UKRYTEJ. BEZ OGRANICZANIA POWYŻSZEGO I W NAJSZERSZYM ZAKRESIE
                                    DOZWOLONE PRZEZ PRAWO, TRANSPORTTERMINAL.COMPANY I JEJ OFICEROWIE, DYREKTORZY,
                                    PRACOWNICY, RODZICE, PARTNERZY, CODZIENNIKI, AGENCI, PARTNERZY DYSTRYBUCJI,
                                    PODMIOTY STOWARZYSZONE, PODMIOTY ZALEŻNE I ICH POWIĄZANE
                                    WSZYSTKIE GWARANCJE, W TYM: (1) GWARANCJE SPEŁNIAJĄCE
                                    TWOJE WYMAGANIA; (2) GWARANCJE DOTYCZĄCE DOSTĘPNOŚCI,
                                    DOKŁADNOŚCI, BEZPIECZEŃSTWA, PRZYDATNOŚCI, TERMINOWOŚCI LUB TREŚĆ INFORMACYJNA
                                    TRANSPORTTERMINAL.COMPANY; (3) GWARANCJE WŁASNOŚCI, NIENARUSZANIA PRAW,
                                    WARTOŚĆ HANDLOWA LUB PRZYDATNOŚĆ DO OKREŚLONEGO CELU; (4) GWARANCJE NA
                                    USŁUGI LUB TOWARY OTRZYMANE ZA POŚREDNICTWEM LUB REKLAMOWANE NA NASZYCH STRONACH
                                    INTERNETOWYCH LUB
                                    DOSTĘPNE NA NASZYCH STRONACH INTERNETOWYCH; (5) GWARANCJE DOTYCZĄCE
                                    DOKŁADNOŚCI LUB NIEZAWODNOŚCI WYNIKÓW, KTÓRE MOŻNA UZYSKAĆ W DZIEDZINIE UŻYTKOWANIA
                                    STRON INTERNETOWYCH; (6) GWARANCJE KORZYSTANIA Z WITRYN INTERNETOWYCH
                                    BEZPIECZNE LUB NIEPRZERWANE; ORAZ (7) GWARANCJE NA BŁĘDY W OPROGRAMOWANIU
                                    ZOSTANIE POPRAWIONE. </p></li>
                            <li><strong>Ograniczenie odpowiedzialności</strong>
                                <ol>
                                    <li><p>
                                        W ŻADNYCH OKOLICZNOŚCIACH TRANSPORTTERMINAL.COMPANY ANI JEJ OFICEROWIE,
                                        DYREKTORZY,
                                        PRACOWNICY, RODZICE, PARTNERZY, AGENCI, PODMIOTY STOWARZYSZONE,
                                        SPÓŁKI ZALEŻNE LUB ICH SPÓŁKI POWIĄZANE PONOSZĄ ODPOWIEDZIALNOŚĆ
                                        ZA SZKODY POŚREDNIE, PRZYPADKOWE, SZCZEGÓLNE, WTÓRNE LUB PRZYKŁADOWE
                                        (NAWET JEŚLI TRANSPORTTERMINAL.COMPANY ZOSTAŁA POINFORMOWANA O MOŻLIWOŚCI
                                        TAKICH SZKÓD), WYNIKAJĄCYCH Z, ZWIĄZANYCH LUB W JAKIKOLWIEK POŁĄCZONYCH Z
                                        NASZYMI STRONAMI INTERNETOWYMI LUB NINIEJSZYMI WARUNKAMI KORZYSTANIA. JEDYNY
                                        SPOSÓB NA PEŁNE
                                        ZADOWOLENIE Z NASZYCH STRON INTERNETOWYCH, W TYM BEZ OGRANICZEŃ KORZYSTANIE Z
                                        ZAWARTOŚĆ WITRYNY JEST ZAPRZESTANIE KORZYSTANIA Z NASZYCH WITRYN. TAKIE
                                        OGRANICZENIE
                                        ZASTOSUJ RÓWNIEŻ W ODNIESIENIU DO SZKÓD POWODU USŁUG LUB
                                        PRODUKTY OTRZYMANE ZA POŚREDNICTWEM LUB REKLAMOWANE W ZWIĄZKU Z JAKIMKOLWIEK Z
                                        NASZYCH PRODUKTÓW
                                        STRON INTERNETOWYCH LUB JAKIEKOLWIEK LINKI NA NASZYCH STRONACH INTERNETOWYCH, A
                                        TAKŻE Z JAKICHKOLWIEK
                                        INFORMACJI LUB PORAD OTRZYMANYCH W RAMACH LUB REKLAMOWANE W ZWIĄZKU Z
                                        NASZYMI STRONAMI INTERNETOWYMI LUB JAKIEKOLWIEK LINKI W NASZYCH STRONACH
                                        INTERNETOWYCH. TAKIE OGRANICZENIE
                                        ZASTOSUJ RÓWNIEŻ W ODNIESIENIU DO SZKÓD POWODOWYCH Z JAKIEJKOLWIEK TREŚCI
                                        OPUBLIKOWANYCH PRZEZ STRONĘ TRZECĄ LUB PRZEZ STRONĘ TRZECĄ W NASZYCH WITRYNACH
                                        INTERNETOWYCH. </p></li>
                                    <li><p>JEDNAKŻE
                                        W ŻADNYM WYPADKU NIE MOGĄ BYĆ WSZYSTKIE ZAWARTE W TUTAJ SPRZECZNOŚCI
                                        SKUMULOWANA ODPOWIEDZIALNOŚCIĄ TREANSPORTTERMINAL.COMPANY I JEJ OFICERÓW,
                                        DYREKTORZY, PRACOWNICY, RODZICE, PARTNERZY, CODZIENNIKI, AGENCI,
                                        PARTNERZY DYSTRYBUCJI, PODMIOTY STOWARZYSZONE, JEDNOSTKI ZALEŻNE I POWIĄZANE Z
                                        NIM
                                        FIRMY PRZEKROCZYŁY WIĘKSZE Z ŁĄCZNEJ PŁATNOŚCI OTRZYMYWANE OD CIEBIE PRZEZ
                                        FREEWEBTEMPLATES.COM W CIĄGU POPRZEDNICH DWUNASTU (12) MIESIĘCY LUB
                                        100 $. PONADTO, ZGADZASZ SIĘ, ŻE WSZELKIE PRZYCZYNY DZIAŁANIA WYNIKAJĄCE Z,
                                        ZWIĄZANE Z LUB W JAKIKOLWIEK POŁĄCZONY Z JAKICHKOLWIEK NASZYCH STRON
                                        INTERNETOWYCH LUB TYCH
                                        WARUNKI UŻYTKOWANIA MUSZĄ ROZPOCZĄĆ SIĘ W CIĄGU JEDNEGO (1) ROKU OD POWODU
                                        DZIAŁANIA
                                        ACCRUES; W PRZECIWNYM WYPADKU TAKIE PRZYCZYNY DZIAŁANIA BĘDĄ NA STAŁE
                                        ZABLOKOWANE.</p></li>
                                    <li><p>W
                                        niektórych jurysdykcjach ograniczenia odpowiedzialności są niedozwolone. W
                                        takich
                                        jurysdykcjach, niektóre z powyższych ograniczeń mogą Cię nie dotyczyć.
                                        Ograniczenia te mają zastosowanie w najszerszym zakresie dozwolonym przez
                                        prawo. </p></li>
                                </ol>
                            </li>
                            <li><strong>Wypowiedzenie</strong>
                                <ol>
                                    <li><p>Zastrzegamy sobie prawo do wypowiedzenia, według naszego wyłącznego uznania,
                                        w dowolnym momencie
                                        lub zawiesić członkostwo i / lub zablokować dostęp do naszych witryn
                                        internetowych
                                        z jakiegokolwiek powodu, w tym bez ograniczeń, jeśli nie zastosowałeś się
                                        z literą i duchem niniejszych Warunków użytkowania. Zgadzasz się z tym że
                                        Firma TransportTerminal.com nie ponosi odpowiedzialności wobec Ciebie ani osób
                                        trzecich za
                                        każde wypowiedzenie lub zawieszenie członkostwa lub zablokowanie twojego
                                        dostępu do naszych stron internetowych.</p></li>
                                    <li><p>Jeśli zostaniesz zarejestrowanym użytkownikiem,
                                        możesz wypowiedzieć swoje członkostwo w dowolnym momencie, przechodząc do
                                        profilu
                                        i wybierając odpowiednią opcję.</p></li>
                                </ol>
                            </li>
                            <li><strong>Pozwy zbiorowe</strong>
                                <p>
                                    W ZAKRESIE DOZWOLONYM PRZEZ PRAWO ZRZECZAMY SIĘ WSZELKIEGO PRAWA DO ŚCIGANIA
                                    SPORÓW NA PODSTAWIE ZBIOROWEJ; TO JEST, ABY PRZYŁĄCZYĆ ROSZCZENIE DO
                                    ROSZCZENIA INNYCH OSÓB LUB PODMIOTÓW LUB WNIOSEK ROSZCZENIA W
                                    REPREZENTACYJNEJ ZDOLNOŚCI W IMIENIU KAŻDEGO INNEGO W KAŻDYM PRAWIE,
                                    ARBITRAŻU LUB INNEGO POSTĘPOWANIA. </p></li>
                            <li><strong>Poprawka; Dodatkowe warunki</strong>
                                <ol>
                                    <li><p>zastrzegamy sobie prawo według naszego wyłącznego uznania iw dowolnym
                                        momencie i z dowolnego
                                        powodu, aby zmodyfikować lub zaprzestać działania dowolnego aspektu lub funkcji
                                        naszych witryn internetowych
                                        lub zmienić niniejsze Warunki użytkowania. Ponadto zastrzegamy sobie prawo by
                                        przedstawiać zasady operacyjne lub dodatkowe warunki, które mogą obowiązywać
                                        ogólnego korzystanie z naszych witryn internetowych, unikalnych części naszych
                                        witryn internetowych lub
                                        oba („Warunki dodatkowe”). Wszelkie dodatkowe warunki, które możemy przekazać
                                        przez odniesienie do niniejszych Warunków użytkowania. Do
                                        zakresów jakichkolwiek Warunków dodatkowych które są sprzeczny z niniejszymi
                                        Warunkami użytkowania, plik
                                        Dodatkowe warunki będą dołączone.</p></li>
                                    <li><p>Modyfikacje tych
                                        Warunki użytkowania lub Warunki dodatkowe zaczną obowiązywać natychmiast z
                                        powiadomieniem, publikując na naszych stronach internetowych lub wysyłając
                                        powiadomienie pocztą elektroniczną lub
                                        zwykła poczta. Twoim obowiązkiem jest zapoznanie się z Warunkami użytkowania
                                        z naszych stron internetowych od czasu do czasu w celu zapoznania się z
                                        wprowadzeniem jakichkolwiek zmian lub dodatkowych warunków.
                                        Twój dostęp i korzystanie z naszych stron internetowych po każdej modyfikacji
                                        znaczą że akceptujesz niniejsze Warunki użytkowania lub postanowienia Warunków
                                        dodatkowych
                                        Jeśli sprzeciwiasz się jakiemukolwiek
                                        kolejnym zmianom Warunków użytkowania lub jakichkolwiek Warunków dodatkowych,
                                        może wypowiedzieć członkostwo zgodnie z postanowieniami sekcji B niniejszego
                                        dokumentu lub, i jedynym rozwiązaniem jest natychmiastowe
                                        zaprzestania korzystania z naszych witryn internetowych.</p></li>
                                </ol>
                            </li>
                            <li><strong>Różne</strong>
                                <ol>
                                    <li><p>No
                                        waiver by either party of any breach or default hereunder shall be
                                        deemed to be a waiver of any preceding or subsequent breach or default.
                                        The section headings used herein are for convenience only and shall not
                                        be given any legal import. If any provision of these Terms of Use is
                                        held to be invalid or unenforceable, the invalidity of such provision
                                        shall not affect the validity of the remaining provisions of the Terms
                                        of Use, which shall remain in full force and effect.</p></li>
                                    <li><p>Te
                                        Warunki użytkowania (w tym Polityka prywatności i wszelkie dodatkowe warunki
                                        włączone przez odniesienie) stanowią całość porozumienia
                                        stron w odniesieniu do przedmiotu Umowy i zastępują wszystkie
                                        wcześniejsze pisemne lub ustne umowy między nami w tym zakresie </p></li>
                                    <li><p>Nie możesz scedować niniejszych Warunków użytkowania ani
                                        scedować w całości lub w części jakiekolwiek prawa lub przekazać jakiekolwiek
                                        obowiązki wynikające z niniejszej Umowy
                                        bez naszej uprzedniej pisemnej zgody. Każde takie rzekome przeniesienie
                                        lub delegowanie przez Ciebie bez uprzedniej pisemnej zgody może
                                        być nieważne i pozbawione mocy i skutku. TransportTerminal.com może
                                        scedować niniejsze Warunki użytkowania lub jakiekolwiek wynikające z nich prawa
                                        bez Twojej zgody
                                        i bez powiadomienia. </p></li>
                                </ol>
                            </li>
                            <li><strong>Powiadomienia</strong>
                                <p>Wszystkie
                                    zawiadomienia, prośby i korespondencja na podstawie niniejszej Umowy wymagają formy
                                    pisemnej,
                                    i każde takie zawiadomienie, wniosek lub inna komunikacja będzie uważana za taką gdy
                                    zostanie przekazana lub złożona w przypadku doręczenia ręcznego, przesłania faksem i
                                    potwierdzona lub, w przypadku dostawy pocztą,
                                    listem poleconym, z potwierdzeniem odbioru, opłaconą przesyłką pocztową na adres
                                    siedziby TransportTerminal.company</p></li>
                        </ol>
                    </div>
                </div>
                <div class="content"><h2>Polityka Prywatności</h2>
                    <div class="legal">
                        <ol>
                            <li><strong></strong>
                                <p>Niniejsza Polityka Prywatności określa zasady przetwarzania i ochrony danych
                                    osobowych przekazanych przez Użytkowników w związku z korzystaniem przez nich usług
                                    poprzez Serwis.</p>
                            </li>
                            <li><strong></strong>
                                <p>Administratorem danych osobowych zawartych w serwisie jest
                                    TransportTerminal.company
                                </p>
                            </li>
                            <li><strong></strong>
                                <p>W trosce o bezpieczeństwo powierzonych nam danych opracowaliśmy wewnętrzne procedury
                                    i zalecenia, które mają zapobiec udostępnieniu danych osobom nieupoważnionym.
                                    Kontrolujemy ich wykonywanie i stale sprawdzamy ich zgodność z odpowiednimi aktami
                                    prawnymi - ustawą o ochronie danych osobowych, ustawą o świadczeniu usług drogą
                                    elektroniczną, a także wszelkiego rodzaju aktach wykonawczych i aktach prawa
                                    wspólnotowego. </p>
                            </li>
                            <li><strong></strong>
                                <p>Dane Osobowe przetwarzane są na podstawie zgody wyrażanej przez Użytkownika oraz w
                                    przypadkach, w których przepisy prawa upoważniają Administratora do przetwarzania
                                    danych osobowych na podstawie przepisów prawa lub w celu realizacji zawartej
                                    pomiędzy stronami umowy.</p>
                            </li>
                            <li><strong></strong>
                                <p>Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniach
                                    poprzez dobrowolnie wprowadzone w formularzach informacje</p>
                            </li>
                            <li><strong></strong>
                                <p>Niniejsza Polityka Prywatności określa zasady przetwarzania i ochrony danych
                                    osobowych przekazanych przez Użytkowników w związku z korzystaniem przez nich usług
                                    poprzez Serwis.</p>
                            </li>
                            <li><strong></strong>
                                <p>Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniach
                                    poprzez dobrowolnie wprowadzone w formularzach informacje</p>
                            </li>
                            <li><strong></strong>
                                <p>Serwis zbiera informacje dobrowolnie podane przez użytkownika. </p>
                            </li>
                            <li><strong></strong>
                                <p>Dane podane w formularzu są przetwarzane w celu wynikającym z funkcji konkretnego
                                    formularza np. w celu dokonania procesu obsługi kontaktu informacyjnego</p>
                            </li>
                            <li><strong></strong>
                                <p>Dane osobowe pozostawione w serwisie nie zostaną sprzedane ani udostępnione osobom
                                    trzecim, zgodnie z przepisami Ustawy o ochronie danych osobowych. </p>
                            </li>
                            <li><strong></strong>
                                <p>Do danych zawartych w formularzu przysługuje wgląd osobie fizycznej, która je tam
                                    umieściła. Osoba ta ma również praw do modyfikacji i zaprzestania przetwarzania
                                    swoich danych w dowolnym momencie. </p>
                            </li>
                            <li><strong></strong>
                                <p>Zastrzegamy sobie prawo do zmiany w polityce ochrony prywatności serwisu, na które
                                    może wpłynąć rozwój technologii internetowej, ewentualne zmiany prawa w zakresie
                                    ochrony danych osobowych oraz rozwój naszego serwisu internetowego. O wszelkich
                                    zmianach będziemy informować w sposób widoczny i zrozumiały.</p>
                            </li>
                            <li><strong></strong>
                                <p>W Serwisie mogą pojawiać się linki do innych stron internetowych. Takie strony
                                    internetowe działają niezależnie od Serwisu i nie są w żaden sposób nadzorowane
                                    przez serwis TransportTerminal.company.
                                    Strony te mogą posiadać własne polityki dotyczące prywatności oraz regulaminy, z
                                    którymi zalecamy się zapoznać.
                                    W razie wątpliwości co któregokolwiek z zapisów niniejszej polityki prywatności
                                    jesteśmy do dyspozycji.
                                </p>
                            </li>

                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <br class="clear"></div>


</div>

</body>
</html>